<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block titulo %}Empresas{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }} media="screen,projection"" />
        <link rel="stylesheet" href="{{ asset('css/materialize.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/dataTables.materialize.css') }}">
        <link rel="stylesheet" href="{{ asset('css/default.css') }}">

    </head>
    {% block body %}
     

        {% for empresa in empresa %}
        <h2>{{empresa.id}}</h2>
        {% endfor %}
        
    {% endblock %}
        
         
        {#                  Scripts            #}
        {% block javascripts %}
         <link rel="stylesheet" href="{{ asset('js/jquery-3.1.1.js') }}">
         <link rel="stylesheet" href="{{ asset('js/materialize.js') }}">
         <link rel="stylesheet" href="{{ asset('js/all.min.js') }}">
         <link rel="stylesheet" href="{{ asset('js/jquery.validate.min.js') }}">
         <script type="text/javascript">
        $(document).ready(function(){
            $('select').formSelect();
            $('.sidenav').sidenav();
            $(".dropdown-trigger").dropdown();
        });
    </script> 
        {% endblock %}
    </body>
</html>
