<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block titulo %}Empresas{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }} media="screen,projection"" />
        <link rel="stylesheet" href="{{ asset("css/materialize.css") }}">
        <link rel="stylesheet" href="{{ asset("css/materialize.min.css.0.100.2") }}">
        <link rel="stylesheet" href="{{ asset("css/default.css") }}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     <link href="{{ asset('layout/head.php') }}">

     <header>
<nav>
    <!--  -->
    <div class="nav-wrapper">
      <a href="#" data-target="mobile-demo" 
         class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{{ asset('Empresas/catalogoEmpresas')}}">Inicio</a></li>
        <li><a href="{{ asset('Empresas/adminUsuarios')}}">Admin Usuarios</a></li>
        <li><a href="{{ asset('Empresas/adminEmpresas')}}">Admin Empresas</a></li>
        <li><a href="mobile.html">Sesion</a></li>
      </ul>
    </div>
  </nav>
</header>

    </head>
    {% block body %}
      {% for empresa in empresa %}
       {# <h2>{{empresa.id}}</h2>
        <h2>{{empresa.direccion}}</h2>
        <h2>{{empresa.telefono}}</h2>#}

 <div class="row">
        <div class="col s12 m3 offset-m2">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{empresa.imagen}}">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">{{empresa.nombreEmpresa}}<i class="material-icons right">add</i></span>
                <p><a href="#">{{empresa.direccion}}</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{empresa.nombreEmpresa}}<i class="material-icons right">close</i></span>
                <p>{{empresa.descripcion}}</p>
              </div>
  
            </div>
            
        </div>
    </div>
        {% endfor %}

  <link href="{{ asset('web/layout/footer.php') }}">
    {% endblock %}
        
         
  <!-- /////////////////////////////////////Scripts/////////////////////////////////////////////////////////////////////////////////////////////////////////////  -->
          {% block javascripts %}
         <script type="text/javascript" href="{{ asset('js/jquery-3.1.1.js')}}"></script>
         <script type="text/javascript" href="{{ asset('js/materialize.js')}}"></script>
         <script type="text/javascript" href="{{ asset('js/jquery.validate.min.js')}}"></script>
         <script type="text/javascript" src="{{ asset('js/datatable.js') }}"></script>
         <script type="text/javascript">
     $(document).ready(function(){
        $('select').formSelect();
     });
    </script> 
        {% endblock %}
    </body>
</html>
