<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block titulo %}Empresas{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }} media="screen,projection"" />
        <link rel="stylesheet" href="{{ asset("css/materialize.css") }}">
        <link rel="stylesheet" href="{{ asset("css/materialize.min.css.0.100.2") }}">
        <link rel="stylesheet" href="{{ asset("css/default.css") }}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <link href="{{ asset('layout/head.php') }}">

     <header>
<nav>
    <!-- Menú para cuando se despliega la página en un dispositivo grande   -->
    <div class="nav-wrapper">
      <a href="#" data-target="mobile-demo" 
         class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="badges.html">Inicio</a></li>
        <li><a href="collapsible.html">Usiarios</a></li>
        <li><a href="mobile.html">Empresas</a></li>
        <li><a href="mobile.html">Sesion</a></li>
      </ul>
    </div>
  </nav>
</header>

    </head>
    {% block body %}
      {% for empresa in empresa %}
       {# <h2>{{empresa.id}}</h2>
        <h2>{{empresa.direccion}}</h2>
        <h2>{{empresa.telefono}}</h2>#}

 <div class="row">
        <div class="col s12 m2 offset-m2">
<<<<<<< HEAD
            <div class="card" id="{{empresa.id}}">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{empresa.imagen}}">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">{{empresa.nombreEmpresa}}<i class="material-icons right">more_vert</i></span>
                <p><a href="#">This is a link</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{empresa.id}}<i class="material-icons right">close</i></span>
                <p>{{empresa.direccion}}
                
                {{empresa.telefono}}
                
                {{empresa.descripcion}}</p>
              </div>
=======
            <div class="card">
                   <div class="card-image waves-effect waves-block waves-light">
                      <img class="activator" src="">
                         </div>
                             <div class="card-content">
                               <span class="card-title activator grey-text text-darken-4">{{empresa.nombreEmpresa}}<i class="material-icons right">more_vert</i></span>
                               <p><a href="#">{{empresa.direccion}}</a></p>
                             </div>
                             <div class="card-reveal">
                               <span class="card-title grey-text text-darken-4">Card Titlaaaaasdasdasdaggggtgggggggggaaae<i class="material-icons right">close</i></span>
                               <p>{{empresa.descripcion}}</p>
                             </div>
                         </div>
                   </div>
>>>>>>> develop-juan
            </div>
            
        </div>
    </div>
        {% endfor %}

  <link href="{{ asset('web/layout/footer.php') }}">
    {% endblock %}
        
         
        {#                  Scripts            #}
        {% block javascripts %}
         <link rel="stylesheet" href="{{ asset('js/jquery-3.1.1.js') }}">
         <link rel="stylesheet" href="{{ asset('js/materialize.js') }}">
         <link rel="stylesheet" href="{{ asset('js/jquery.validate.min.js') }}">
         <script type="text/javascript">
        $(document).ready(function(){
            $('select').formSelect();
            $('.sidenav').sidenav();
            $(".dropdown-trigger").dropdown();
        });
    </script> 
        {% endblock %}
    </body>
</html>
