<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block titulo %}Welcome{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
                    <link rel="stylesheet" href="{{ asset('css/materialize.min.css') }}">
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('js/jquery-3.1.1.js') }}">
         <link rel="stylesheet" href="{{ asset('js/materialize.js') }}">
         <link rel="stylesheet" href="{{ asset('js/jquery.validate.min.js') }}">
         <script type="text/javascript">
    </body>
</html>
